.upper {
    text-transform: uppercase !important;
}

.text-left {
    text-align: left !important;
}
.u-right-dash {
    text-align: right;
}

.u-center-dash {
    text-align: center;
}

.u-left-dash {
    text-align: left;
}