//variables colors
$color-red-500: #F44336;
$color-red-600: #E53935;
$color-green-500: #4CAF50;
$color-orange-500: #FF9800;
$color-white: #fff;
$color-grey-light:#f7f7f7;
$color-black: #343839;
$color-blue-500: #2196F3;
$color-red-primary: #ff6b6d;
$color-blue-primary: #5ba8fd;
$color-green-primary: #60e188;
$color-orange-primary: #fdb157;
// fonts variables
$sue-font-family: "SueEllenFrancisco" !default;
$sue-font-path: "../fonts" !default;